.section__container {
  background: #f6f6f6;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;

  .section__title {
    margin-bottom: .5rem;
  }

  .section__subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}